<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=-1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="s>
  <link id="demo" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
  <link  href="{{ url_for('static', filename='js/mani.json') }}" rel="manifest">
 <title>xxshorts</title>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-aw>
  </head>

<body style="background-color:pink; width: fit-content; color: gray;">
                                                                                                     
<div class="topbar">

<br>
<br>
<br>
<br>
<br>
<br>
<h1 style=" color:#F9D949;font-weight: bold; font-style: italic;"> TRIPPLE  THREAT </h1> 
</a>
    </div>
<!-- Nav BAR-->
 
<style>
        .btn {
            font-size: 17px;
            color: blue;
            background-color: yellow;
            margin-left : 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-decoration: none;
        }


        .btn2 {
            font-size: 17px;

            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
<!-- MAIN CONTAINER-->
<div class="middle">
   
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="home_cont">


<div align="center">


      <div style="font-size: 19px;">
        Are You Sure You Want To Log Out
        </div>
    <form name="view" method="POST" action="{{ url_for('logout') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <br>
      <br>
        <input type="submit" value="Yes" name="sub" class="btn">
        <input type="submit"class="btn2" name="sub"  value="No">
    
    </form>


</div>
</div>






</div>
</div>

</body>

</html>
